/* Container for category stories */
.category-stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  max-width: 1200px;
  padding: 0 15px;
}

.show-more-btn {
  padding: 10px 20px;
  background-color: #ff7373;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  width: 140px;
  margin-left: 410px;
}

.category-stories h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
